.font1{font-size: 30px; color: green; font-family: 'Book Antiqua','Arial Narrow','Franklin Gothic Medium', Arial, sans-serif;}

.font2{font-size: 50px  ; color: red; font-family: 'Bookman Old Style','Book Antiqua','Arial Narrow','Franklin Gothic Medium', Arial, sans-serif;}

#font3{font-size: 50px  ; color: blue; font-family: 'Bookman Old Style','Book Antiqua','Arial Narrow','Franklin Gothic Medium', Arial, sans-serif;}

